.form-group.required .control-label:after {
    content:"*";
    color:red;
}

.form-edit-button {
    display: inline-block;
}

/*Pagination*/
.portlet-footer {
    min-height: 56px;
}

.pagination {
    margin: 0;
}

.portlet-footer .btn-back {
    float: left;
}
/*Pagination*/